/* LUKE */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}

/* *{border:solid red 2px; margin: 5px;}
*:nth-child(1){border:solid 2px green;}
*:nth-child(2){border:solid 2px blue;}
*:nth-child(3){border:solid 2px orange;} */

.luke-tree {
    display: flex;
    justify-content: center;

}

.luke-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 12;
    max-width: 1000px;
}

.luke-block {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    justify-content: center;
}

.luke-block1>* {
    margin: 0.5rem 0;
    padding-left: 12px;
}

.luke-block h1 {
    font-size: 2.9rem;
}

.luke-block h2 {
    font-size: 1.7rem;
    font-weight: lighter;
}

.luke-block h6 {
    font-size: 0.6rem;
}

.luke-block p,
.sign-in-link strong {
    font-size: 0.9rem;
    color: gray;
}

.luke-block a {
    color: black;
}

.header-buttons a,
.header-buttons {
    border-radius: 10px;
    padding: 12px;
    margin-right: 10px;
}

.header-buttons .sign-up-button {
    border: solid black 1px;
    background-color: blue;
    color: white;
}

.header-buttons .chat-button {
    color: blue;
    border: solid blue 1px;
}

.explore-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.explore-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.explore-description {
    max-width: 650px;
    border-top: solid 1px black;
}

.explore-button-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 900px;
}
h6 > *{
    display:inline;
}
#weird-oval{
    background-color: rgb(0, 0, 255);
    color:blue;
    border-radius: 100%;
    font-size: .5rem;
    margin: 0 .5rem;
}

.explore-buttons {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.explore-tree>*,
.explore-description>* {
    margin: 2rem;
}

.explore-button {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 6rem;
    height: 6rem;
    border-radius: 15px;
    border: solid black 1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 2rem;
    font-size: .8rem;
}
.payments-button {
    background-image: url("images/Path\ 236.png");
    background-size: 3rem;
    background-color:blue;
    color:white;
}
.payments-button > p{
    margin-bottom: 7px;
}
.button-text{
    color:black;
    margin-bottom: 7px;
}
.dollar-sign{
    color:black;
    font-size: 1.6rem;
    font-family:'Chakra Petch';
}

.retain-button {
    background-image: url("images/Page-1.png")
}

.reporting-button {
    background-image: url("images/layer1.png");
}

.convert-button {
    background-image: url("images/upanddown\ opposite\ sidebyside\ updown\ directions\ two\ arrows.png");
}

@media screen and (max-width:900px) {

    .luke-container,
    .explore-button-container {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .luke-block{
        align-items: center;
    }

    .explore-buttons {
        width: 100%;
    }

    .explore-button {
        margin: 1rem;
    }
}

/* LUKE */

/* Carlos */

#paymentsContainer{
    display: flex;
    
    width: 90%;
    max-width: 1000px;
    flex-wrap: wrap;
}

#creditCardPictureContainer{
    display: flex;
    align-items: center;
    width: 400px;
    padding: 30px 15px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 20px 2px 2px 20px;
}

#creditCardImage{
    width: 100%;
}

#creditCardText{
    width: 500px;
    padding: 100px 30px;
    background-color: rgb(0, 81, 255);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 0 20px 20px 0;
    color: white;
    text-align: left;
}

.cardTitle{
    margin-bottom: 40px;
    font-size: 32px;
}

.cardSummary{
    margin-bottom: 40px;
}

.cardListItem{
    margin-bottom: 20px;
}

.learnMoreBtn{
    display: inline-block;
    padding: 10px 20px 10px 90px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 20px;
}

.noStyle{
    text-decoration: none;
    color: white;
}

.learnMoreText{
    display: flex;
    align-items: center;
}


#test{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    font-family:monospace;
    margin-left: 100px;
}
/* Carlos */

/* SJ */
    .learn{
        background-color: white; 
        width: 10rem;
        height: 2rem;
    }
    .email{
        position: absolute;
        left: 41rem;
        bottom: -10rem
    }

    .task{
        position: absolute;
        left: 68rem;
        bottom: -10rem;
    }
    .analytics{
        position: absolute;
        left: 43.3rem;
        bottom: -35rem;
    }
    .project{
        position: absolute;
        left: 68rem;
        bottom: -35rem;
    }

    .description1{
        position: absolute;
        left: 36rem;
        bottom: -13rem;
        font-size: 1rem;
    }

    .description2{
        position: absolute;
        left: 64rem;
        bottom: -13rem;
        font-size: 1rem;
    }
    .description3{
        position: absolute;
        left: 64rem;
        bottom: -38rem;
        font-size: 1rem;
    }
    .description4{
        position: absolute;
        left: 36rem;
        bottom: -38rem;
        font-size: 1rem;
    }

    .learn1{
        position: absolute;
        left: 44rem;
        bottom: -15rem; 
    }

    .learn2{
        position: absolute;
        left: 72rem;
        bottom: -15rem; 
    }
    
    .learn3{
        position: absolute;
        left: 72rem;
        bottom: -40rem; 
    }
    .learn4{
        position: absolute;
        left: 44rem;
        bottom: -40rem;
        
    }
    .back1{
        position: absolute;
        left: 42rem;
        bottom: -7rem; 
    }
    .back2{
        position: absolute;
        left: 70rem;
        bottom: -7rem; 
    }
    .back3{
        position: absolute;
        left: 42rem;
        bottom: -32rem; 
    }
    .back4{
        position: absolute;
        left: 70rem;
        bottom: -32rem; 
    }

    .pic1{
        position: absolute;
        left: 43.6rem;
        bottom: -5.4rem; 
    }

    .pic2{
        position: absolute;
        left: 72rem;
        bottom: -5.4rem; 
    }
    .pic3{
        position: absolute;
        left: 43.6rem;
        bottom: -30rem;
         
    }
    .pic4{
        position: absolute;
        left: 72.2rem;
        bottom: -30.7rem; 
    }
/* SJ */

/* MASON */

.mason-img {
	max-width: 100%;
	height: auto;
}


.mason-header-container {
	width: 100%;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.mason-main-header .mason-header-container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.mason-main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.mason-main-nav li {
	display: inline;
}
.mason-main-nav a {
    color: black;
	display: inline-block;
	padding: .5em 2.7em;
}

.mason-header-buttons{
    padding-left: 6em;
    justify-content: space-around;
}

.mason-sign-in{
    border-color: blue;
    background-color: white;
    border-radius: 8px;
}
.mason-sign-in a{
    color: blue;
}
.mason-try-it{
    border-color: blue;
    border-radius: 8px;
}

.mason-try-it a{
    color: white;
    background-color: blue;
}

.mason-footer-container{
    width: 100%;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
    background-color: rgb(0, 83, 255);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mason-main-footer h1{
    font-size: 36px;
    padding-bottom: 10px;
}

.mason-main-footer h2{
    font-size: 22px;
    padding-bottom: 10px;
}
.mason-footer-buttons{
    padding-bottom:20px;
}

.mason-get-started{
    margin-right: 60px;
    width: 110px;
    height: 25px;
    border-radius: 4px;
    border-color:rgb(130, 255, 47);
    background-color:rgb(130, 255, 47);
    color: white;
}
.mason-get-started a{
    color: white;
    font-size: 13px;
}

.mason-chat a{
    color: rgb(0, 83, 255);
    font-size: 13px;
}
.mason-chat{
    width: 110px;
    height: 25px;
    border-radius: 4px;
    border-color:white;
    background-color:white;
}

.mason-main-footer h3{
    font-size: 10px;
    padding-bottom: 60px;
}

.mason-main-footer img{
    width: 10px;
}

@media (min-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}
}

/* MASON */